{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2>Mes fiches de personnages</h2>


    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">id</th>
            <th scope="col">nom</th>
            <th scope="col">classe</th>
            <th scope="col">race</th>
            <th scope="col">status</th>
            <th scope="col">initiative</th>
            <th scope="col">point de vie max</th>
            <th scope="col">point de vie actuel</th>
            <th scope="col">point de mana max</th>
            <th scope="col">point de mana actuel</th>
            <th scope="col">force</th>
            <th scope="col">dexterité</th>
            <th scope="col">endurance</th>
            <th scope="col">intelligence</th>
            <th scope="col">sagesse</th>
            <th scope="col">chance</th>
            <th scope="col">modifier votre perso</th>

        </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">{{ characterSheet.id }}</th>
                <td>{{  characterSheet.name }}</td>
                <td>{{ characterSheet.class }}</td>
                <td>{{ characterSheet.race }}</td>
                <td>{{ characterSheet.status }}</td>
                <td>{{ characterSheet.initiative }}</td>
                <td>{{ characterSheet.hpMax }}</td>
                <td>{{ characterSheet.actualMp }}</td>
                <td>{{ characterSheet.mpMax }}</td>
                <td>{{ characterSheet.actualMp }}</td>
                <td>{{ characterSheet.strength }}</td>
                <td>{{ characterSheet.dexterity }}</td>
                <td>{{ characterSheet.stamina }}</td>
                <td>{{ characterSheet.intelligence }}</td>
                <td>{{ characterSheet.wisdom }}</td>
                <td>{{ characterSheet.luck }}</td>
                <td><a class="btn btn-primary" href="{{ path('app_characterSheet_update',{'id':characterSheet.id}) }}">modifier la feuille </a></td>
            </tr>

        </tbody>
    </table>

<div>
    <div>
        ajouter un équipement :
        <a class="btn btn-success" href="{{ path('app_equipement_new',{id : characterSheet.id}) }}">+</a>
        ajouter une compétence :
        <a class="btn btn-danger" href="{{ path('app_skill_new',{id : characterSheet.id}) }}">+</a>
    </div>
</div>
    <div>
        <table class="table">
            <thead>
            <tr>

                <th scope="col">name</th>
                <th scope="col">Level</th>
                <th scope="col">modifier</th>
                <th scope="col">supprimez</th>

            </tr>
            </thead>
            <tbody>
            {% for skill in characterSheet.skills  %}
            <tr>

                <td>{{ skill.level}}</td>
                <td>{{ skill.name }}</td>
                <td><a class="btn btn-primary" href="{{ path('app_skill_update',{'id':skill.id}) }}">modifier</a></td>
                <td><a class="btn btn-danger" href="{{ path('app_character_sheet_remove_skill',{'id':skill.id}) }}">supprimez</a></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>

                <th scope="col">name</th>
                <th scope="col">range</th>
                <th scope="col">damage</th>
                <th scope="col">modifier</th>
            </tr>
            </thead>
            <tbody>
            {% for equipement in characterSheet.equipements  %}
                <tr>

                    <td>{{ equipement.name}}</td>
                    <td>{{ equipement.range}}</td>
                    <td>{{ equipement.damage}}</td>
                    <td><a class="btn btn-primary" href="{{ path('app_equipement_update',{'id':equipement.id}) }}">modifier</a></td>
                    <td><a class="btn btn-danger" href="{{ path('app_character_sheet_remove_equipement',{'id':equipement.id}) }}">supprimez</a></td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
