{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h2>Mon compte</h2>
    <div class="container">
        <p>email: {{ user.email }}</p>
        <p>name : {{ user.name }}</p>
    </div>
    <h2>Mes fiches de personnages</h2>


    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">id</th>
            <th scope="col">nom</th>
            <th scope="col">class</th>
            <th scope="col">race</th>
            <th scope="col">🔎</th>
        </tr>
        </thead>
        <tbody>
        {% for characterSheet in user.characterSheets  %}
            <tr>
                <th scope="row">{{ characterSheet.id }}</th>
                <td>{{ characterSheet.name }}</td>
                <td>{{ characterSheet.class }}</td>
                <td>{{ characterSheet.race }}</td>
                <td><a class="btn btn-primary" href="{{ path('home_index') }}">voir la feuille </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
